//- base 

<temple>
    section#container
        .class0
            |
            |
            label(for="foo",style="fonts:12px") 輸入
            input(id="foo" name="bar"
            value="1234"
            )/
            // 註解
               可以多行
            //- 不顯示的註解

</temple>


